# This file is used by PyCharm 2025.2.1 as the Python Integrated Tools
# Package requirements file for this CS206_2017_Ludobots project.
python==2.7.18
pyrosim==0.1.1
pip==20.3.4
nose==1.3.7
numpy~=1.16.6
matplotlib~=2.2.3